<div ng-form="innerForm" ng-click="enterEditMode()">
  <span ng-show="!editMode" ng-click="enterEditMode()">{{ ((params.value === '' || params.value === null || angular.isUndefined(params.value)) ? 'SELECT_NO_OPTIONS' : getLabel(params.value)) | translate }}</span>

  <i class="edit fa fa-pencil-square" ng-show="!editMode" ng-click="enterEditMode()" ng-focus="enterEditMode()" tabindex="{{ params.tabindex }}"></i>
  <i class="saved fa fa-check" ng-show="!editMode" ng-class="{ active: params.saved }"></i>

  <div ng-show="editMode">

    <!-- Try to translate drop-down values by default -->
    <div ng-if="params.translatable !== false">
      <select chosen pre-select-from="collection"
              ng-model="params.value"
              name="{{ params.name }}"
              ng-change="submit()"
              ng-blur="leaveEditMode()"
              ng-required="params.required"
              tabindex="{{ params.tabindex }}"
              data-width="'250px'"
              ng-options="value as label|translate for (label, value) in collection">
        <option value="" ng-selected="params.value === ''" ng-if="!params.required">-- {{ 'SELECT_NO_OPTIONS' | translate | limitTo : 70 }} --</option>
      </select>
    </div>

    <!-- Do not translate if explicitely disables -->
    <div ng-if="params.translatable === false">
      <select chosen pre-select-from="collection"
              ng-model="params.value"
              name="{{ params.name }}"
              ng-change="submit()"
              ng-blur="leaveEditMode()"
              ng-required="params.required"
              tabindex="{{ params.tabindex }}"
              data-width="'250px'"
              ng-options="value as label for (label, value) in collection">
        <option value="" ng-selected="params.value === ''" ng-if="!params.required">-- {{ 'SELECT_NO_OPTIONS' | translate | limitTo : 70 }} --</option>
      </select>
    </div>
  </div>
</div>

